@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
body{
    @apply bg-[#fcfcfc] text-gray-700 overflow-x-hidden;
}
.btn-primary {
    @apply bg-blue-600 text-white font-semibold py-2 px-4 rounded hover:bg-blue-700 my-3 inline-block;
}

.btn-primary-modal {
    @apply bg-blue-600 text-white font-semibold py-2 px-2 rounded hover:bg-blue-700 my-3 inline-block w-40;
}

.cards {
    @apply p-6 bg-[#f9f9f9] shadow-md rounded-md my-4;
}
.wide {
    @apply p-2 bg-white shadow-sm rounded-sm my-2 w-full;
}

.bar {
    @apply w-8 h-2 bg-white my-1 transition-all duration-300 ease-in-out;
    transform-origin: center;
  }

header{
    @apply py-3 px-12 bg-blue-400
     flex items-center justify-between w-full text-white; 

    nav{
        @apply flex items-center justify-center
         py-4 font-semibold text-white
         cursor-pointer w-4/9;
    }

    .logo{
        @apply text-4xl font-bold mr-auto mb-2
    }
}

input, select, textarea{
    display: block;
    border: 1px solid gray;
    width: 500px;
    padding: 5px;
    margin: 5px 0;
    background: #ffffff;
    border-radius: 3px;
}

.show-left{
    transition: .2s linear;
}

.show{
    position: absolute;
    top: 0;
    width: 150px;
    height: 350px;
    z-index: 10;
    border-radius: 250% 0 0 250% / 200% 0 0 200%;
    left: 100px;
    transition: all .5s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: wobbles 1.5s ease-in-out infinite
}

.show.active {
    left: 170px;
    animation: wobble 1.5s ease-in-out infinite
}

  .show.active #top, .show.active #bot {
    margin-left: 70px;
    transform: rotate(180deg);
  }

  .show #top {
    transform: rotate(45deg) translateY(11px);
  }

  .show #bot {
    transform: rotate(-45deg) translateY(-12px);
  }


@keyframes wobble {
    0%, 100% {
        border-radius: 0 250% 250% 0 / 0 200% 200% 0;
    }
    50% {
        border-radius: 0 250% 250% 0 / 0 190% 410% 0;
    }
}
@keyframes wobbles {
    0%, 100% {
        border-radius: 250% 0 0 250% / 200% 0 0 200%;
    }
    50% {
        border-radius: 250% 0 0 250% / 190% 0 0 410%;
    }
}
.items{
    position: absolute;
    transition: .2s linear;
    right: 0%;
    width: 500px;
    padding: 20px;
    z-index: 200;
}

.items.active{
    right: -100%;
}

.left-side a{
    padding: 10px 0;
    display: block;
}

.left-side{
    position: absolute;
    transition: .2s linear;
    left: 0%;
    width: 250px;
    padding: 20px;
}

 .left-side.active{
    left: -250px
}

main{
    overflow: hidden;
    position: relative;
    width: 100%   
}

section, input, button, select, textarea{
    display:block;
    outline: none;
    background: #f9f9f9;
}

.highlights{
    opacity: .5;
}

.inp, .inp-form{
    width: 50px
}

.modal {
  opacity: 0;
  position: fixed;
  visibility: hidden;
  top: 0;
  height: 100%;
  width: 100%;
  background: white;
  color: black;
  transform: scale(0.95);
  transition: opacity 0.8s ease, transform 0.8s ease, visibility 0.8s ease ;
}

.modal.activex {
  opacity: 1;
  visibility: visible;
  z-index: 200;
  transform: scale(1);
}
#f-de{
    width: 100%;
}

.flow{
    overflow: hidden
}
